.App {
  text-align: center;
  background-color: #24252a;
}

.dibujo {
  background-color: white;
  height: 300px;
  width: 300px;
}
.landing {
  background: 
  /* linear-gradient( */
      /* rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    ), */ url("https://imgs.search.brave.com/4IRwovMimQmC2seXuW69MssdjX5marHMAfNimWLgf3k/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly9pbWFn/ZXMuaGRxd2FsbHMu/Y29tL3dhbGxwYXBl/cnMvcG9rZW1vbi00/ay0yMDIwLTJjLmpw/Zw");
  background-size: cover;
  background-position: center;
  height: 965px;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
