@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.card {
  width: 1000px;
  height: 800px;
  background-color: #d6ccc2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.img {
  width: 400px;
}
.imgpopke {
  width: 350px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.ul {
  color: black;
}
.h3 {
  margin: 0.5rem;
}

.li {
  color: black;
  /* list-style: none; */
  margin: 0.5rem;
  display: flex;
}
