@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    ),
    url("https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/styles/hc_1440x810/public/media/image/2021/07/pokemon-unite-2414165.jpg?itok=rTPbq4C8");
  background-size: cover;
  background-position: center;
}

form {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: black;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 30px 60px;
  border-radius: 10px;
}

.delete {
  padding: 6px 20px;
  background-color: rgb(230, 57, 70);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  display: inline-block;
  margin: 0.25rem;
  color: white;
  font-size: 0.75rem;
}
.type {
  margin-bottom: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.input {
  margin: 0.5rem;
  color: black;
  border-radius: 5px;
  border: 1.5px solid black;
}

.input::placeholder {
  padding-left: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit {
  margin: 0.5rem;
}

.error {
  color: red;
}
