.container {
  display: flex;
  flex-direction: column;
  /* border: 0.25rem solid black; */
  background-color: white;
  border-radius: 2rem;
  padding: 3rem;
  justify-content: center;
  align-items: center;
  margin: 1rem;

  width: fit-content;
  height: fit-content;
  transition: all 0.4s;
  width: 400px;
  height: 400px;
}

.container:hover {
  transform: scale(1.05);
}

.type {
  padding: 6px 20px;
  background-color: rgb(230, 57, 70);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  display: inline-block;
  margin: 0.25rem;
}

.name {
  color: black;
  width: 300px;
  height: 50px;
  background-color: white;
}

.step {
  width: 300px;
  /* height: fit-content; */
}

.container_types {
  background-color: white;
}

.img {
  background-color: white;
  width: 200px;
  height: 275px;

  /* width: 200px;
  height: 200px; */

  /* border-radius: 1rem; */
}

h1 {
  font-size: 1.25rem;
}
